<div *ngIf="plugins">
    <hr />

    <div class="row">
        <div class="col">
            <fa-icon [icon]="icons.faPlug" class="float-end"></fa-icon>
            <h4>Plugins</h4>
        </div>
    </div>

    <div class="accordion">
        <div *ngFor="let manager of plugins; let i = index" class="card">
            <div class="card-header" style="cursor:pointer;" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#plugins_collapse_' + i">
                <fa-icon [icon]="icons.faPlug" class="text-info"></fa-icon>
                {{manager.directory}}
            </div>

            <div [id]="'plugins_collapse_' + i" class="collapse">
                <div class="card-body p-2">

                    <div class="row">
                        <div class="col">
                            <table class="info-table">
                                <tbody>
                                    <tr>
                                        <th class="nowrap trim">Directories:</th>
                                        <td>
                                            <ul class="m-0 py-0">
                                                <li *ngFor="let directory of manager.directories">
                                                    <code>{{directory}}</code>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="nowrap trim">Consider sub-directory 'dist':</th>
                                        <td>
                                            <app-boolean [value]="manager.options.dist"
                                                [type]="BooleanComponentTypes.IconColor"></app-boolean>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="nowrap trim">Verbose:</th>
                                        <td>
                                            <app-boolean [value]="manager.options.verbose"
                                                [type]="BooleanComponentTypes.IconColor"></app-boolean>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col">
                            <table class="data-table">
                                <thead>
                                    <tr class="table-secondary">
                                        <th colspan="6" scope="col">Plugins:</th>
                                    </tr>
                                    <tr>
                                        <th scope="col" class="text-center">
                                            <fa-icon [icon]="icons.faPlug" class="text-info"></fa-icon>
                                        </th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Path</th>
                                        <th scope="col">Config Name</th>
                                        <th scope="col">Methods</th>
                                        <th scope="col" class="text-center">Actions</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let plugin of manager.plugins">
                                        <td class="text-center">
                                            <fa-icon [icon]="icons.faPlug" class="text-info"></fa-icon>
                                        </td>
                                        <td>{{plugin.name}}</td>
                                        <td>
                                            <code>{{plugin.path}}</code>
                                        </td>
                                        <td>
                                            <code>{{plugin.configName}}</code>
                                        </td>
                                        <td>
                                            <ul>
                                                <li *ngFor="let method of plugin.methods">
                                                    <code>{{method}}</code>
                                                </li>
                                            </ul>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group btn-group-sm" role="group">
                                                <button type="button" class="btn btn-outline-secondary"
                                                    [disabled]="plugin.config === null" (click)="displayConfig(plugin)"
                                                    title="Display config">
                                                    <fa-icon [icon]="icons.faEye"></fa-icon>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="PluginConfigModal" tabindex="-1" role="dialog" aria-labelledby="ModalTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalTitle">
                        <fa-icon [icon]="icons.faPlug"></fa-icon>
                        {{displayData.name}}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-2">
                    <ul class="list-unstyled">
                        <li>
                            <strong>Config</strong>:
                            <code>{{displayData.configName}}</code>
                        </li>
                    </ul>
                    <pre><code [highlight]="displayData.contents" [languages]="['json']"></code></pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">
                        <fa-icon [icon]="icons.faTimes"></fa-icon>
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>