<main class="container-fluid pb-5">
    <div class="row my-3">
        <div class="col-10">
            <app-section-endpoints id="endpoints" [endpoints]="drtools.endpoints"></app-section-endpoints>
        </div>

        <div class="col small">
            <app-expand-collapse (expandAll)="expandAll($event)" (hideAll)="hideAll($event)"></app-expand-collapse>
        </div>
    </div>
</main>