<main class="container-fluid pb-5">
    <div class="row my-3">
        <div class="col-10">
            <p class="text-end small">These are the tools you have loaded.</p>

            <app-section-configs id="configs" [configs]="drtools.configs"></app-section-configs>
            <app-section-endpoints id="endpoints" [endpoints]="drtools.endpoints"></app-section-endpoints>
            <app-section-loaders id="loaders" [loaders]="drtools.loaders"></app-section-loaders>
            <app-section-middlewares id="middlewares" [middlewares]="drtools.middlewares"></app-section-middlewares>
            <app-section-routes id="routes" [routes]="drtools.routes"></app-section-routes>
            <app-section-mock-routes id="mock-routes" [mockRoutes]="drtools.mockRoutes"></app-section-mock-routes>
            <app-section-tasks id="tasks" [tasks]="drtools.tasks"></app-section-tasks>
            <app-section-plugins id="plugins" [plugins]="drtools.plugins"></app-section-plugins>
        </div>

        <div class="col small">
            <app-expand-collapse (expandAll)="expandAll($event)" (hideAll)="hideAll($event)">
                <ul class="nav flex-column border-start">
                    <li *ngIf="drtools.configs" class="nav-item">
                        <a class="nav-link" href="#configs" (click)="scrollTo('#configs h4', $event)">
                            <i class="fa fa-cogs"></i> Configs
                        </a>
                    </li>
                    <li *ngIf="drtools.endpoints" class="nav-item">
                        <a class="nav-link" href="#endpoints" (click)="scrollTo('#endpoints h4', $event)">
                            <i class="fa fa-asterisk"></i> Endpoints
                        </a>
                    </li>
                    <li *ngIf="drtools.loaders" class="nav-item">
                        <a class="nav-link" href="#loaders" (click)="scrollTo('#loaders h4', $event)">
                            <i class="fa fa-spinner"></i> Loaders
                        </a>
                    </li>
                    <li *ngIf="drtools.middlewares" class="nav-item">
                        <a class="nav-link" href="#middlewares" (click)="scrollTo('#middlewares h4', $event)">
                            <i class="fa fa-prescription-bottle"></i> Middlewares
                        </a>
                    </li>
                    <li *ngIf="drtools.routes" class="nav-item">
                        <a class="nav-link" href="#routes" (click)="scrollTo('#routes h4', $event)">
                            <i class="fa fa-map-signs"></i> Routes
                        </a>
                    </li>
                    <li *ngIf="drtools.mockRoutes" class="nav-item">
                        <a class="nav-link" href="#mock-routes" (click)="scrollTo('#mock-routes h4', $event)">
                            <i class="fa fa-map-signs"></i> Mock-up Routes
                        </a>
                    </li>
                    <li *ngIf="drtools.tasks" class="nav-item">
                        <a class="nav-link" href="#tasks" (click)="scrollTo(' #tasks h4', $event)">
                            <i class="fa fa-clock"></i> Tasks
                        </a>
                    </li>
                    <li *ngIf="drtools.plugins" class="nav-item">
                        <a class="nav-link" href="#plugins" (click)="scrollTo('#plugins h4', $event)">
                            <i class="fa fa-plug"></i> Plugins
                        </a>
                    </li>
                </ul>

                <hr />
            </app-expand-collapse>
        </div>
    </div>
</main>