@import "~bootswatch/dist/flatly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/flatly/bootswatch";
@import "~highlight.js/styles/github.css";

app-root {
    .container,
    .container-fluid:not(.in-navbar) {
        margin-bottom: 70px;
        margin-top: 70px;
    }
}

.collapse {
    overflow-x: auto;
}

table tr {
    td,
    th {
        vertical-align: top;
    }
}

table.info-table {
    @extend .small;
    @extend .table;
    @extend .table-borderless;
    @extend .table-sm;

    td,
    th {
        padding: 0.1rem 0.3rem;
    }

    td {
        ul {
            list-style-type: none;
            margin: 0px;
            padding: 0px;

            li {
                margin: 0px;
                padding: 0px;

                &::before {
                    color: gray;
                    content: "> ";
                }
            }
        }
    }
}

table.data-table {
    @extend .small;
    @extend .table;
    @extend .table-borderless;
    @extend .table-sm;
    @extend .table-striped;

    min-width: 100%;

    td {
        ul {
            list-style-type: none;
            margin: 0px;
            padding: 0px;

            li {
                margin: 0px;
                padding: 0px;

                &::before {
                    color: gray;
                    content: "> ";
                }
            }
        }
    }
}

.card-body {
    & > .row,
    & > .row > .col {
        margin: 0px;
        padding: 0px;
    }
}

td.trim,
th.trim {
    width: 1px;
}

.overflow {
    overflow-x: auto;
}

.nowrap {
    white-space: nowrap;
}

app-quick {
    .card {
        border-radius: 10px;
        margin: 5px 0px;

        &:hover {
            @extend .shadow;
        }

        .card-body {
            text-align: center;
            .logo {
                font-size: 3rem;
            }
        }
    }
}
