<main class="container-fluid pb-5">
    <div class="row my-3">
        <div class="col-10">
            <app-section-plugins id="plugins" [plugins]="drtools.plugins"></app-section-plugins>
        </div>

        <div class="col small">
            <app-expand-collapse (expandAll)="expandAll($event)" (hideAll)="hideAll($event)"></app-expand-collapse>
        </div>
    </div>
</main>