<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid in-navbar">
        <a class="navbar-brand" href="https://gitlab.com/daemonraco-dev/drtools" target="_blank"
            title="DRTools at GitLab.">
            <small>v{{version}}</small>
        </a>

        <a class="navbar-brand float-end" href="https://gitlab.com/daemonraco" target="_blank">
            <small>DAEMonRaco@GitLab</small>
        </a>
    </div>
</nav>