<div *ngIf="routes">
    <hr />

    <div class="row">
        <div class="col">
            <fa-icon [icon]="icons.faMapSigns" class="float-end"></fa-icon>
            <h4>Routes</h4>
        </div>
    </div>

    <div class="accordion">
        <div *ngFor="let manager of routes; let i = index" class="card">
            <div class="card-header" style="cursor:pointer;" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#routes_collapse_' + i">
                <fa-icon [icon]="icons.faMapSigns" class="text-info"></fa-icon>
                {{manager.directory}}
            </div>

            <div [id]="'routes_collapse_' + i" class="collapse">
                <div class="card-body p-2">

                    <div class="row">
                        <div class="col">
                            <table class="info-table">
                                <tbody>
                                    <tr>
                                        <th class="nowrap trim">Directories:</th>
                                        <td>
                                            <ul class="m-0 py-0">
                                                <li *ngFor="let directory of manager.directories">
                                                    <code>{{directory}}</code>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="nowrap trim">Suffix:</th>
                                        <td><code>.{{manager.suffix}}</code></td>
                                    </tr>
                                    <tr>
                                        <th class="nowrap trim">URL Prefix:</th>
                                        <td><code>{{manager.urlPrefix}}</code></td>
                                    </tr>
                                    <tr>
                                        <th class="nowrap trim">Verbose:</th>
                                        <td>
                                            <app-boolean [value]="manager.options.verbose"
                                                [type]="BooleanComponentTypes.IconColor"></app-boolean>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col">
                            <table class="data-table">
                                <thead>
                                    <tr class="table-secondary">
                                        <th colspan="4" scope="col">Routes:</th>
                                    </tr>
                                    <tr>
                                        <th scope="col" class="text-center">
                                            <fa-icon [icon]="icons.faMapSigns" class="text-info"></fa-icon>
                                        </th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Path</th>
                                        <th scope="col">URI</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let route of manager.items">
                                        <td class="text-center">
                                            <fa-icon [icon]="icons.faMapSigns" class="text-info"></fa-icon>
                                        </td>
                                        <td>{{route.name}}</td>
                                        <td>
                                            <code>{{route.path}}</code>
                                        </td>
                                        <td>
                                            <ul class="list-unstyled">
                                                <li *ngFor="let r of route.routes">
                                                    <code>[{{r.methods | keys}}]</code>
                                                    <a *ngIf="r.methods.get" [href]="r.uri" target="_blank"
                                                        class="border-info">
                                                        <code>{{r.uri}}</code>
                                                    </a>
                                                    <span *ngIf="!r.methods.get" class="border-info">
                                                        <code>{{r.uri}}</code>
                                                    </span>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>