<main class="container">
    <div class="row">
        <div class="col text-center pt-5">
            <h1>404: Not found</h1>
            <p>The page you're looking for doesn't exist.</p>
        </div>
    </div>
</main>