<div class="position-fixed">
    <ng-content></ng-content>

    <ul class="nav flex-column border-start">
        <li class="nav-item">
            <a class="nav-link" href="#" (click)="triggerExpandAll($event)">
                <i class="fa fa-expand"></i> Expand all
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" (click)="triggerHideAll($event)">
                <i class="fa fa-compress"></i> Collapse all
            </a>
        </li>
    </ul>
</div>