<div *ngIf="middlewares">
    <hr />

    <div class="row">
        <div class="col">
            <fa-icon [icon]="icons.faPrescriptionBottle" class="float-end"></fa-icon>
            <h4>Middlewares</h4>
        </div>
    </div>

    <div class="accordion">
        <div *ngFor="let manager of middlewares; let i = index" class="card">
            <div class="card-header" style="cursor:pointer;" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#middlewares_collapse_' + i">
                <fa-icon [icon]="icons.faPrescriptionBottle" class="text-info"></fa-icon>
                {{manager.directory}}
            </div>

            <div [id]="'middlewares_collapse_' + i" class="collapse">
                <div class="card-body p-2">
                    <div class="row">
                        <div class="col">
                            <table class="info-table">
                                <tbody>
                                    <tr>
                                        <th class="nowrap trim">Directories:</th>
                                        <td>
                                            <ul class="m-0 py-0">
                                                <li *ngFor="let directory of manager.directories">
                                                    <code>{{directory}}</code>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="nowrap trim">Suffix:</th>
                                        <td><code>.{{manager.suffix}}</code></td>
                                    </tr>
                                    <tr>
                                        <th class="nowrap trim">Verbose:</th>
                                        <td>
                                            <app-boolean [value]="manager.options.verbose"
                                                [type]="BooleanComponentTypes.IconColor"></app-boolean>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col">
                            <table class="data-table">
                                <thead>
                                    <tr class="table-secondary">
                                        <th colspan="3" scope="col">Middlewares:</th>
                                    </tr>
                                    <tr>
                                        <th scope="col" class="text-center">
                                            <fa-icon [icon]="icons.faPrescriptionBottle" class="text-info"></fa-icon>
                                        </th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Path</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let middleware of manager.items">
                                        <td class="text-center">
                                            <fa-icon [icon]="icons.faPrescriptionBottle" class="text-info"></fa-icon>
                                        </td>
                                        <td>{{middleware.name}}</td>
                                        <td>
                                            <code>{{middleware.path}}</code>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>