<div *ngIf="endpoints">
    <hr />

    <div class="row">
        <div class="col">
            <fa-icon [icon]="icons.faAsterisk" class="float-end"></fa-icon>
            <h4>Mock-up Endpoints</h4>
        </div>
    </div>

    <div class="accordion">
        <div *ngFor="let manager of endpoints; let i = index" class="card">
            <div class="card-header" style="cursor:pointer;" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#endpoint_collapse_' + i">
                <fa-icon [icon]="icons.faAsterisk" class="text-info"></fa-icon>
                {{manager.uri}}
            </div>

            <div [id]="'endpoint_collapse_' + i" class="collapse">
                <div class="card-body p-2">

                    <div class="row">
                        <div class="col">
                            <table class="info-table">
                                <tbody>
                                    <tr>
                                        <th class="nowrap trim">Directory:</th>
                                        <td><code>{{manager.directory}}</code></td>
                                    </tr>
                                    <tr>
                                        <th class="nowrap trim">URI:</th>
                                        <td><code>{{manager.uri}}</code></td>
                                    </tr>
                                    <tr *ngIf="manager.options.globalBehaviors.length > 0">
                                        <th class="nowrap trim">Global Behaviors:</th>
                                        <td>
                                            <ul>
                                                <li *ngFor="let behavior of manager.options.globalBehaviors">
                                                    <code>{{behavior}}</code>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col">
                            <table class="data-table">
                                <thead>
                                    <tr class="table-secondary">
                                        <th colspan="5" scope="col">Sub-paths:</th>
                                    </tr>
                                    <tr>
                                        <th scope="col" class="text-center">
                                            <fa-icon [icon]="icons.faAsterisk" class="text-info"></fa-icon>
                                        </th>
                                        <th scope="col">URI</th>
                                        <th scope="col">Method</th>
                                        <th scope="col">Path</th>
                                        <th scope="col" class="text-center">Has Behavoirs</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td class="text-center">
                                            <fa-icon [icon]="icons.faAsterisk" class="text-success"></fa-icon>
                                        </td>
                                        <td>
                                            <a [href]="manager.uri" target="_blank">
                                                <code>{{manager.uri}}</code>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <span class="badge bg-secondary">*</span>
                                        </td>
                                        <td>
                                            <code>{{manager.directory}}</code>
                                        </td>
                                        <td class="text-center">
                                            <fa-icon [icon]="icons.faAsterisk" class="text-muted"></fa-icon>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let mockup of manager.mockups">
                                        <td class="text-center">
                                            <fa-icon [icon]="icons.faAsterisk" class="text-info"></fa-icon>
                                        </td>
                                        <td>
                                            <a [href]="manager.uri + '/' + mockup.uri" target="_blank">
                                                <code>{{mockup.uri}}</code>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <span *ngIf="mockup.method"
                                                class="badge bg-primary text-uppercase">{{mockup.method}}</span>
                                            <span *ngIf="!mockup.method" class="badge bg-secondary">*</span>
                                        </td>
                                        <td>
                                            <code>{{mockup.path}}</code>
                                        </td>
                                        <td class="text-center">
                                            <app-boolean [value]="mockup.behaviors"
                                                [type]="BooleanComponentTypes.IconColor"></app-boolean>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>