<div *ngIf="mockRoutes">
    <hr />

    <div class="row">
        <div class="col">
            <fa-icon [icon]="icons.faMapSigns" class="float-end"></fa-icon>
            <h4>Mock-up Routes</h4>
        </div>
    </div>

    <div class="accordion">
        <div *ngFor="let manager of mockRoutes; let i = index" class="card">
            <div class="card-header" style="cursor:pointer;" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#mockRoutes_collapse_' + i">
                <fa-icon [icon]="icons.faMicrochip" class="text-info"></fa-icon>
                {{manager.configPath}}
            </div>

            <div [id]="'mockRoutes_collapse_' + i" class="collapse">
                <div class="card-body p-2">

                    <div class="row">
                        <div class="col">
                            <table class="info-table">
                                <tbody>
                                    <tr>
                                        <th class="nowrap trim">Config Path:</th>
                                        <td><code>{{manager.configPath}}</code></td>
                                    </tr>
                                    <tr>
                                        <th class="nowrap trim">Verbose:</th>
                                        <td>
                                            <app-boolean [value]="manager.options.verbose"
                                                [type]="BooleanComponentTypes.IconColor"></app-boolean>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col">
                            <table class="data-table">
                                <thead>
                                    <tr class="table-secondary">
                                        <th colspan="7" scope="col">Endpoints:</th>
                                    </tr>
                                    <tr>
                                        <th scope="col" class="text-center">
                                            <fa-icon [icon]="icons.faMapSigns" class="text-info"></fa-icon>
                                        </th>
                                        <th scope="col">URI</th>
                                        <th scope="col" class="text-center">Method</th>
                                        <th scope="col" class="text-center">Mime Type</th>
                                        <th scope="col">Path</th>
                                        <th *ngIf="manager.hasGuards" scope="col" class="text-center">Guard</th>
                                        <th scope="col" class="text-center">Valid</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let route of manager.routes">
                                        <td class="text-center">
                                            <fa-icon [icon]="icons.faMapSigns" class="text-info"></fa-icon>
                                        </td>
                                        <td>
                                            <a [href]="route.uri" target="_blank"
                                                (click)="route.method === '*' || route.method === 'get'">
                                                <code>{{route.uri}}</code>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <span *ngIf="route.method !== '*'"
                                                class="badge bg-primary text-uppercase">{{route.method}}</span>
                                            <span *ngIf="route.method === '*'" class="badge bg-secondary">*</span>
                                        </td>
                                        <td class="text-center" style="white-space:nowrap;">
                                            <span class="badge bg-info">{{route.mime}}</span>
                                        </td>
                                        <td>
                                            <code>{{route.path}}</code>
                                        </td>
                                        <td *ngIf="manager.hasGuards" [class.text-center]="route.guardName">
                                            <span *ngIf="route.guardName"
                                                class="badge bg-secondary">{{route.guardName}}</span>
                                            <code *ngIf="route.guardPath">{{route.guardPath}}</code>
                                        </td>
                                        <td class="text-center" [title]="route.error ? route.error : ''">
                                            <app-boolean [value]="route.valid" [type]="BooleanComponentTypes.IconColor">
                                            </app-boolean>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div *ngIf="manager.guards.length > 0" class="row mt-2">
                        <div class="col">
                            <table class="table table-striped table-bordered table-sm small">
                                <thead>
                                    <tr class="table-secondary">
                                        <th colspan="7" scope="col">Guards:</th>
                                    </tr>
                                    <tr>
                                        <th scope="col" class="text-center">
                                            <fa-icon [icon]="icons.faKey" class="text-info"></fa-icon>
                                        </th>
                                        <th scope="col" class="text-center">Name</th>
                                        <th scope="col">Path</th>
                                        <th scope="col" class="text-center">Valid</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let guard of manager.guards">
                                        <td class="text-center">
                                            <fa-icon [icon]="icons.faKey" class="text-info"></fa-icon>
                                        </td>
                                        <td class="text-center">
                                            <span class="badge bg-secondary"
                                                [class.bg-success]="guard.name === 'default'">{{guard.name}}</span>
                                        </td>
                                        <td>
                                            <code>{{guard.path}}</code>
                                        </td>
                                        <td class="text-center" [title]="guard.error ? guard.error : ''">
                                            <app-boolean [value]="!guard.error"
                                                [type]="BooleanComponentTypes.IconColor">
                                            </app-boolean>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>