<div *ngIf="loading" style="margin-top:10%;text-align:center;">
    <img alt="" type="image/png" src="assets/favicon.png" style="filter:saturate(10%);" />

    <pre style="color:grey;font-size:large;">DRTools</pre>

    <pre *ngIf="loading" style="color:grey;">Loading...</pre>
</div>

<ng-container *ngIf="!loading">
    <app-navbar></app-navbar>

    <router-outlet></router-outlet>

    <app-footer></app-footer>
</ng-container>